<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="scripts/app.js" charset="utf-8" defer></script>

<title>Vote Q - SF</title>
</head>
<body>
    <header>VoteQ</header>
  <nav>
    <ul>
      <li><a href="#quiz"></a></li>
      <li><a href="#ballot"></a></li>
      <li><a href="#account"></a></li>
    </ul>
  </nav>
  <section>
  <div class="container">
    <div class="row">
      <div id="map"></div>
        <!-- Are they registered to vote -->
<!--         <iframe src="http://sfelections.org/tools/reglookup/" allowtransparency="true" frameborder="0" scrolling="yes" width="90%" height="540px"></iframe> -->
    </div>
  </div>
</section>

</body>
</html>
