<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">

  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="scripts/app.js" charset="utf-8" defer></script>

<title>Vote Q - SF</title>
</head>
<body>
  <nav>

  </nav>
  <header>
    <img id="logo"src="https://files.slack.com/files-pri/T0351JZQ0-FB1KW5XJR/voteq-logo.jpg">
    <i id='displayMenu' class="fas fa-bars"></i>
  </header>
  <section id="home">
    <div class="container">
      <div class="row">
        <h1>Welcome, Peter!</h1>
        <h4>You have <bold>01</bold> day until voting time</h4>
        <button id='toBallot' type='submit'>Click to Vote Now!</button>
        <h4>Your Polling Places:</h4>
        <i class="fas fa-arrow-down"></i>
        <div id="map"></div>
          <!-- Are they registered to vote -->
      </div>
      <button id='quizStart' type='submit'>Start Quiz!</button>
    </div>
  </section>
    <!-- container div that holds the question and answers -->
      <div id="quiz" class="container">
          <!-- questions div -->
            <div id="questions-div">
              <h2 id="question"> whats you're favorite fruit</h2>
            </div>
          <!-- answers div -->
          <div id="answers-div">
            <div id="choice-one" class="choice">apple</div>
            <div id="choice-two" class="choice">orange</div>
            <div id="choice-three"class="choice">kiwi</div>
            <div id="choice-four"class="choice">mango</div>
          </div>

        <!-- answers div -->

        </div>

        <div id="myModal" class="modal">
          <div class="modalContent">
            <h1>Correct</h1>
            <p id="correctInfo"></p>
            <div id="btn-div">
                <button id="next-ques-btn" class="btn btn-lrg btn-primary"> next</button>
                <button id="voteNow" class="btn btn-lrg btn-primary"> go vote</button>
              </div>
            </div>
          </div>

        <!-- quiz container div end -->
  <section id="ballot">
    <iframe id="registerPage" src="http://sfelections.org/tools/reglookup/" allowtransparency="true" frameborder="0" scrolling="yes" width="90%" height="460px">
    </iframe>
    <button id='back' type='submit'></button>
  </section>
  <section id='account'>
    <img id='mug' src="images/mug.png">
    <h5>Name:</h5>
    <h1>Peter LaCroix</h1>
    <h5>Username:</h5>
    <h1>CoffeeBoyLaCroix</h1>
    <h5>Precinct:</h5>
    <h1>7347</h1>
  </section>
  <section id="pickCategory">
    <button id='pickHome'>HOME</button>
    <button id='pickQuiz'>QUIZ</button>
    <button id= 'pickBallot'>BALLOT</button>
    <button id= 'pickAccount'>ACCOUNT</button>
  </section>


</body>
</html>
