body {
  box-sizing: border-box;
  height: 100vh;
}

.container {
  padding-bottom: 50px;
}

header{
  color: red;
  background-color: blue;
  height: 10vh;
  text-align: center;
  font-size: 2.5em;
}

#map {
  height: 400px;
  margin-top: 20px;
}

a{
  color: red;

}

