
* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

body {
  font-family: ;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: 'futura';
}

.container {
  padding-bottom: 50px;
}

img#logo {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  margin-left: -1.2em;
}

header{
  border: silver solid 1.5px;
  width: 100%;
  margin: 0 auto;
  height: 12.5vh;
  text-align: center;
  font-size: 2.5em;
  color: #f19f40;
}

nav{
  position: fixed;
  z-index: 1;
  width: 100%;
}

.fa-bars {
  color: silver;
  z-index: 1;
  padding-top: .4em;
  padding-left: .5em;
  font-size: 1em;
  position: relative;
  float: left;
}

ul {
 list-style-type: none;
 display: none;
}

#home {
  text-align: center;
  width: 100%;
  margin: 0;
  color: #f19f40;
  height: 80vh;
}

h1 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

button {
  margin: .5em;
}

li {
  font-size: 4em;
  text-align: center;
}

.fa-arrow-down {
  font-size: .1em;
  text-align: center;
}

#map {
  height: 200px;
  margin-top: 20px;
  width: 90%;
  margin: -1em auto .5em;
}

iframe {
  display: none;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: absolute;
}

#ballot {
  display: none;
}

button {
  border: none;
  border-radius: 20px;
  width: 50%;
  margin: .8em;
}

bold {
  color: red;
  font-size: 1.8em;
}

#quizStart {
  padding: .5em;
  color: white;
  background-color: #f19f40;
}

#toBallot {
  padding: .2em;
  color: white;
  background-color: blue;
}

#pickCategory {
  font-size: 3em;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: none;
}

#pickHome, #pickBallot {
  border-radius: 0;
  width: 100%;
  margin: 0 auto;
  color: #236fbf;
  padding: .65em;
  border: .5px solid silver;
}

#pickQuiz, #pickAccount {
  border-radius: 0;
  width: 100%;
  margin: 0 auto;
  border: .5px solid silver;
  color: #236fbf;
  padding: .65em;
}

#account {
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #236fbf;
  color: white;
  height: 100vh;
  display: none;

}

#mug {
  border-radius: 40px;
  width: 60%;
  border: solid #236fbf 1px;
  margin: 3em auto 0;
}

h5 {
  margin-top: 1.6em;
  margin-bottom: 0;
}

/* QUIZ SECTION */

/* quize styles */
#quiz{
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#questions-div{

  width: 100%;
  height: 33%;
  text-align: center;
}
#question{
  font-size: 1.5em;
  margin-bottom: 1em;
}

#answers-div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 33%;
  text-align: center;
}
.choice{
  width: 50%;
  border: 1.8px solid white;
  padding: 2.5em 2em;
  background-color: #236fbf;
  color: white;
}
#btn-div{

  width: 100%;
  height: 33%;
  text-align: center;
  padding: 1em;
}
/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

#quiz {
  /*color: silver;*/
  color: #66c58c;
  display: none;
}

.modalContent {
  margin-top:50%;
  height: 80%;
  background-color: rgba(255,255,255,0.9);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#voteNow {
  background-color: #e9613c;
  position: inline-block;
}
